name: Generate Snake

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: maya-fakih
          colors: |
            snake:#800080              # purple snake body
            head:#9b30ff               # slightly brighter purple head
            grid:#cccccc               # grey grid
            contributions:#cce5ff,#66b2ff,#007bff,#0056b3  # blue gradient
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
